body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #461e1e;
  background-color: rgb(163, 214, 221);
}

.navbar {
  display: flex;
  background-color: rgb(122, 18, 18);
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 50px;
  width: auto; 
  margin: 10px;
}

.navbar a {
  display: inline-block;
  color: rgb(233, 219, 21);
  padding: 14px 20px;
  text-decoration: none;
}
  
.navbar a:hover {
  background-color: #dddcdc;
  color: black;
}




footer {
  background-color: #231750;
  color:rgb(233, 219, 21);
  margin-top: 600px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-info{
  display: flex;
  align-items: center;
  padding-left: 2%;
}

.footer-logo img {
  height: 50px;
}

.footer-info {
  margin: 20px;
  color: rgb(233, 219, 21);
  text-align: left;
}

.footer-links {
  display: flex;
  margin: 20px;
  color: rgb(233, 219, 21);
}

.footer-links ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  
}


.footer-links a {
  color: #fff;
}

.footer-copyright {
  font-size: 0.9em;
  padding-right: 2%;
}